<div class="uk-section uk-section-large uk-padding-remove uk-position-relative">
    
    <img src="/imagens/upload/bg/vamos-comecar.png"
         alt="Vamos começar"
         style="width: 100%; height: auto; display: block;">  
    
    <div class="uk-position-absolute uk-position-bottom uk-margin-large-bottom">
        <div class="uk-container">
            <h3 class="uk-text-title uk-margin-remove">Vamos começar?</h3>
            <hr class="uk-margin-large">
            <div class="uk-flex uk-flex-middle uk-flex-between uk-gap">
                <div >
                    <img src="imagens/upload/logo/logo-gestdremas.svg" width="180px" alt="">
                </div>
                <div >
                    <P class="text-desc" style="max-width: 650px;">Eleve o bem-estar da sua equipa e construa resultados sustentáveis com especialistas em saúde mental e desenvolvimento humano.</P>
                </div>
                <div>
                    <a href="" class="uk-button uk-button-default">Implementar o P7</a>
                </div>
            </div>
        </div>
    </div>

</div>
