<div class="uk-section uk-padding-remove-bottom" style="background-color: rgb(0, 0, 68);">
    <div class="uk-container">
        <div class="uk-child-width-1-4@l uk-child-width-1-3@s uk-child-width-1-4@m uk-grid uk-margin-large-bottom">
            <div>
                <div>
                    <img width="180" src="imagens/upload/logo/logo-gestdreams.svg" alt="">
                    <P class="text">Excelência Corporativa, Transformação Humana</P>
                    <ul class="uk-list"> 
                    </ul>
                    
                    <div class="uk-flex uk-flex-middle">
                        <span uk-icon="icon: facebook" style="color: white;" class="uk-margin-medium-right"></span>
                        <span uk-icon="icon: instagram" style="color: white;" class="uk-margin-medium-right"></span>
                        <span uk-icon="icon: linkedin" style="color: white;" class="uk-margin-medium-right"></span>
                        <span uk-icon="icon: youtube" style="color: white;"></span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Corporativo</h3>
                    <ul class="uk-list">
                        <li><a [routerLink]="['/sobre-gestdreams']">Sobre a GestDreams</a></li>
                        <li><a href="">Programas</a></li>
                        <li><a href="">Política SG</a></li>
                        <hr>
                        <a href="" class="uk-button uk-button-default">Transforme a sua empresa</a>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <h3>Links uteis</h3>
                    <ul class="uk-list">
                        <li><a href="">Onda branca</a></li>
                    </ul>
                    <ul class="uk-list">
                        <li><a href="">Bernardino Antonio</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <h3>Contactos</h3>
                    <ul class="uk-list">
                        <li><a href="" class="uk-flex uk-flex-middle"><span uk-icon="icon: location; ratio: 2.5" class="uk-margin-small-right"></span> Luanda na rua Comandante Gika, Nº62 ( adjacente ao Hotel Alvalade)</a></li>
                        <li><a href="" class="uk-flex uk-flex-middle"><span uk-icon="icon: receiver" class="uk-margin-small-right"></span> (244) 922 222 222</a></li>
                        <li><a href="" class="uk-flex uk-flex-middle"><span uk-icon="icon: mail" class="uk-margin-small-right"></span> geral@gestdreams.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="uk-flex uk-flex-middle  uk-flex-wrap uk-grid-small uk-grid-divider uk-padding-small ">
            <div class="text-cpy" style="border: none !important;">
                Copyright &copy;{{tempo}} • Todos os direitos reservados para GestDreams.
            </div>
            <div>
                <a class="text-cpy" [routerLink]="['/politica-de-privacidade-e-cookies']" >Politica de privacidade e cookies</a>
            </div>
            <div>
                <a class="text-cpy" [routerLink]="['/termo-de-uso']" >Termos de uso</a>
            </div>
            <div>
                <a class="text-cpy" [routerLink]="['/termo-de-uso']" >Canal de reclamacoes</a>
            </div>
        </div>
    </div>
</div>