<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-container">
        <hr>
        <div class="uk-child-width-1-3@l uk-grid uk-margin-large-top uk-margin-large-bottom">
            <div >
                <img width="200" src="imagens/upload/logo/logo-gestdremas-original.svg" alt="">
                <p class="text-footer">Muito mais que uma empresa, somos um grupo de especialistas. Criamos programas e consultoria sob medida para sua equipe, promovendo saúde emocional e produtividade no trabalho, com soluções estratégicas e foco em resultados</p>
                <div>
                    <ul class="uk-list">
                        <li class="text-footer alinhar"><span class="uk-icon" uk-icon="icon: location" style="color: #8e459b;"></span> Av. Lenine, Bairro da Maianga Próximo à Farmácia Maianga</li>
                        <li class="text-footer alinhar"><span class="uk-icon" uk-icon="icon: receiver" style="color: #8e459b;"></span> (+244) 9222 222 22</li>
                    </ul>
                </div>
                <div class="uk-flex uk-flex-middle uk-flex-between uk-margin-medium-top">
                    <a href=""><span class="uk-icon-button" style="background-color: #8e459b; color: #f5f5dc;" uk-icon="icon: facebook; ratio: 1.2"></span></a>
                    <a href=""><span class="uk-icon-button" style="background-color: #8e459b; color: #f5f5dc;" uk-icon="icon: instagram; ratio: 1.2"></span></a>
                    <a href=""><span class="uk-icon-button" style="background-color: #8e459b; color: #f5f5dc;" uk-icon="icon: linkedin; ratio: 1.2"></span></a>
                    <a href=""><span class="uk-icon-button" style="background-color: #8e459b; color: #f5f5dc;" uk-icon="icon: youtube; ratio: 1.2"></span></a>
                </div>
            </div>
            <div>
                <div class="uk-child-width-1-2@l uk-grid">
                    <div>
                        <ul class="uk-list">
                            <li><a uk-scroll href="#gestdreams">GestDream</a></li>
                            <li><a uk-scroll href="#impacto">Impacto</a></li>
                            <li><a uk-scroll href="#programa">Programas</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="uk-list">
                            <li><a uk-scroll href="#impacto">Inovacao</a></li>
                            <li><a uk-scroll href="#founder">Founder</a></li>
                            <li><a uk-scroll href="#contacto">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <ul class="uk-list">
                    <li><a uk-scroll href="#impacto">Onda Branca <span class="uk-icon" uk-icon="icon: link"></span></a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

</div>