.text{
    color: rgba(255, 255, 255, 0.753);
    font-family: "Urbanist";
    font-weight: 600;
    font-size: 1rem;
}

h3{
    color: white;
    font-size: 1.2rem;
    font-family: "Urbanist";
    font-weight: bold;
}

ul li a{
    color: white;
    font-size: 1rem;
    font-family: "Space Grotesk", sans-serif;
}

.text-cpy{
    color: white;
    font-size: .79rem;
    font-family: "Space Grotesk", sans-serif;
}

hr{
    border:  1px solid #ffffff45;
}
