<div class="uk-section uk-padding-remove-bottom" style="background-color: rgb(0, 0, 68);">
    <div class="uk-container">
        <div class="uk-child-width-1-4@l uk-grid uk-margin-large-bottom">
            <div>
                <div>
                    <img width="180" src="imagens/upload/logo/logo-gestdreams.svg" alt="">
                    <P class="text">Excelência Corporativa, Transformação Humana</P>
                    <div class="uk-flex uk-flex-middle">
                        <span uk-icon="icon: facebook" style="color: white;" class="uk-margin-medium-right"></span>
                        <span uk-icon="icon: instagram" style="color: white;" class="uk-margin-medium-right"></span>
                        <span uk-icon="icon: linkedin" style="color: white;"></span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Corporativo</h3>
                    <ul class="uk-list">
                        <li><a href="">GestDreams</a></li>
                        <li><a href="">Programas</a></li>
                        <li><a href="">Política SG</a></li>
                        <li><a href="">Contactos</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <h3>Links uteis</h3>
                    <ul class="uk-list">
                        <li><a href="">Onda branca</a></li>
                    </ul>
                    <ul class="uk-list">
                        <li><a href="">Bernardino Antonio</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <h3>Contactos</h3>
                    <ul class="uk-list">
                        <li><a href="" class="uk-flex uk-flex-middle"><span uk-icon="icon: location; ratio: 2.5" class="uk-margin-small-right"></span> Luanda na rua Comandante Gika, Nº62 ( adjacente ao Hotel Alvalade)</a></li>
                        <li><a href="" class="uk-flex uk-flex-middle"><span uk-icon="icon: receiver" class="uk-margin-small-right"></span> (244) 922 222 222</a></li>
                        <li><a href="" class="uk-flex uk-flex-middle"><span uk-icon="icon: mail" class="uk-margin-small-right"></span> geral@gestdreams.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="uk-flex uk-flex-center uk-flex-between">
            <div>
                <p class="text-cpy">Copyright &copy;{{tempo}} • Todos os direitos reservados para GestDreams.</p>
            </div>
            <div>
                <a class="text-cpy" href="">Politica de privacidade e cookies</a>
            </div>
        </div>
    </div>
</div>