<div id="impacto" class="uk-section uk-section-large" style="background-color: #000;">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@l uk-grid-match uk-child-width-1-2@m uk-child-width-1-2@s uk-child-width-1-1" uk-grid>
            
            <!-- Coluna esquerda: destaque Impacto -->
            <div class="uk-width-1-3@s">
                <div class="uk-card uk-card-default uk-card-body " style="background-color: #f5f5dc; border-radius: 10px;">
                    <div class="uk-position-bottom uk-padding">
                        <h3 class="titulo">Impacto Real</h3>
                        <h2 class="frase-impacto reveal-lines" uk-scrollspy="cls: reveal-active; delay: 200"><span>Se o bem-estar da sua equipa não evolui, a</span><span>produtividade fica para</span><span>trás.</span></h2>
                        <p class="descricao-impacto">Programas estratégicos, desenvolvidos por uma equipe experiente em saúde mental, coaching, inteligência emocional e neurociência, para transformar o ambiente de trabalho em equilíbrio, foco e resultados reais.</p>
                    </div>
                </div>
            </div>

            <!-- Coluna direita: cards ou blocos -->
            <div class="uk-width-expand">
                <div class="uk-grid uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-collapse uk-grid-match" uk-grid>
                    <div >
                        <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-column uk-flex-between" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; background-color: #f5f5dc;">
                            <h3 class="uk-card-title">Profissionais especializados</h3>
                            <ul class="uk-list uk-list-hyphen"> 
                                <li>Psicólogos Organizacionais</li>
                                <li>Psiquiatras e Coaches</li>
                                <li>Facilitadores de Workshops</li>
                                <li>Especialistas em Inteligência Emocional</li>
                                <li>Consultores em Neurociência Aplicada</li>
                                <li>Treinadores de Ginástica Laboral</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-padding-remove" style="border-top-right-radius:10px; border-bottom-right-radius:10px;">
                                <img src="imagens/upload/profissional.png" alt="" class="uk-width-1-1 uk-height-1-1" style="object-fit: cover; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin-medium-top">
                        <div class="uk-card uk-card-default uk-card-body uk-flex uk-flex-column uk-flex-between" style="margin-right: 15px; border-radius: 10px; background-color: #f5f5dc;">
                            <h3 class="uk-card-title">Psicoeducação Organizacional</h3>
                            <ul class="uk-list uk-list-hyphen">
                                <li>Educação sobre saúde mental no contexto de trabalho</li>
                                <li>Reconhecimento precoce de stress, ansiedade e burnout</li>
                                <li>Promoção de hábitos emocionais saudáveis nas equipas</li>
                                <li>Redução do estigma associado à saúde psicológica</li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-margin-medium-top">
                        <div class="uk-card uk-card-default uk-card-body uk-padding-remove" style="border-radius: 10px; height: 430px;">
                            <video src="video/burgout.mp4" autoplay loop style="border-radius: 10px;"></video>
                            <div class="uk-position-cover uk-overlay uk-overlay-default"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="uk-margin-large-top">
            <app-clientes></app-clientes>
        </div>
    </div>
</div>
