.titulo {
    font-family: "Space Grotesk", sans-serif; 
    color: #272727; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
}

.frase-impacto {
    font-family: 'Urbanist', sans-serif; /* fonte moderna e limpa */
    font-size: 2.8rem;                     /* tamanho grande para destaque */
    font-weight: 700;                     /* negrito para impacto */
    line-height: 1.2;                     /* espaçamento entre linhas */
    color: #272727;                       /* cor escura, legível */
    text-align: right;                   /* centralizado */
    margin: 1.5rem 0;
}

.frase-impacto.reveal-lines span {
  display: block;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
}

.reveal-active.frase-impacto span {
  animation: impactLineUp 1.8s cubic-bezier(.4,0,.2,1) forwards;
}

@keyframes impactLineUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal-active.frase-impacto span:nth-child(1) {
  animation-delay: 0s;
}

.reveal-active.frase-impacto span:nth-child(2) {
  animation-delay: 0.7s;
}

.reveal-active.frase-impacto span:nth-child(3) {
  animation-delay: 1.4s;
}

.descricao-impacto {
    font-family: 'Urbanist', sans-serif; /* fonte limpa e moderna */
    font-size: .87rem;                   /* tamanho menor que a headline */
    font-weight: 500;                      /* normal, fácil de ler */
    line-height: 1.5;                      /* espaçamento confortável */
    color: #272727;                        /* cinza escuro para suavizar */
    text-align: right;                     /* centralizado */
}

.uk-card-title{
    font-size: 2rem;
    font-weight: bold;
    color: #272727;
    font-family: "Urbanist", sans-serif;
}

.uk-list{
    font-size: .87rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: #5e5e5e;
}

.uk-card > video{
    height: 430px;
    width: 100%;
}

.uk-overlay-default{
    background-color: #00000033;
    border-radius: 10px;    
}


