<div uk-slideshow="autoplay: true; animation: slide; pause-on-hover: false; autoplay-interval: 10000; ratio: false">
  <div class="uk-slideshow-items" uk-height-viewport="offset-top: true">
    <div class="uk-background-cover uk-flex uk-flex-middle uk-flex-between uk-flex-center" style="background-position: left;" uk-img data-src="imagens/upload/slides/hero.webp">
      <div class="uk-position-cover uk-overlay uk-overlay-default">
        <div class="uk-position-bottom-left" style="bottom: 25%; left: 10%; max-width: 550px;">
          <h1  class="titulo">Excelência Corporativa, Transformação Humana</h1>
          <p class="desc">Potencializamos organizações promovendo saúde emocional, produtividade e bem-estar no ambiente de trabalho</p>
        </div>
      </div>
    </div>
  </div>
  <!-- DOT NAV CORRETO -->
  <ul class="uk-dotnav uk-flex-right uk-position-bottom uk-margin-bottom">
    <li uk-slideshow-item="0"><a href></a></li>
    <li uk-slideshow-item="1"><a href></a></li>
  </ul>
</div>