<div uk-slideshow="autoplay: true; animation: slide; pause-on-hover: false; autoplay-interval: 10000; ratio: false">
  <div class="uk-slideshow-items" uk-height-viewport="offset-top: true">
    <div>
      <img src="imagens/upload/slides/imagem-2.png" alt="">
      <div class="uk-position-cover uk-overlay uk-overlay-default">
        <div class="uk-position-center-right" style="bottom: 45%; right: 2%;">
          <h1 class="text-space">Transformamos o ambiente de trabalho em bem-estar com resultados</h1>
          <a href="#p7" class="uk-button uk-button-default">Conhecer o P7</a>
        </div>
      </div>
    </div>
    <div>
      <img src="imagens/upload/slides/imagem-3.png" alt="">
      <div class="uk-position-cover uk-overlay uk-overlay-default">
        <div class="uk-position-center-left" style="bottom: 45%; left: 7%;">
          <h1 class="text-space"><span style="border-bottom: 5px double #fa8072;">P7</span> · Programa de Saúde Emocional do Trabalhador</h1>
          <p class="uk-text-lead">Bem-estar, foco e produtividade sustentável.</p>
          <a href="#p7" class="uk-button uk-button-default">Conhecer o P7</a>
        </div>
      </div>
    </div>
  </div>
  <!-- DOT NAV CORRETO -->
  <ul class="uk-dotnav uk-flex-right uk-position-bottom uk-margin-bottom">
    <li uk-slideshow-item="0"><a href></a></li>
    <li uk-slideshow-item="1"><a href></a></li>
  </ul>
</div>