.uk-overlay-default{
    background-color: #00000055;
}
.titulo{
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  font-family: "Urbanist";
}

.desc{
  font-size: 1.1rem;
  font-family: 500;
  font-family: "Space Grotesk", sans-serif;
  color: white;
}