.uk-overlay-default{
    background-color: #00000055;
}
.titulo{
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
  font-family: "Urbanist";
  text-transform: uppercase;
}

.desc{
  font-size: 1.1rem;
  font-family: 500;
  font-family: "Space Grotesk", sans-serif;
  color: white;
}

.card.reveal-fade{
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.card{
  opacity: 1;
  transform: translateX(0);
}



@media (min-width: 344px) and (max-width: 767px) {
  .uk-slideshow-items{
    min-height: 550px !important; 
  }
  .titulo{
    font-size: 1.5rem !important;
    width: 250px;
  }
  .desc{
    width: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .uk-slideshow-items{
    min-height: 550px !important; 
  }
}

