<div class="uk-child-width-1-3@l uk-grid uk-margin-large-top">
    <div>
        <div class="uk-card uk-card-body">
            <h2 class="uk-card-title">Diagnóstico Organizacional</h2>
            <p class="desc">Mapeamos as áreas da empresa e os setores mais críticos, identificando pontos de atenção e oportunidades para fortalecer a saúde mental e a produtividade.</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-body">
            <h2 class="uk-card-title" class="uk-card-title">Análise de Equipas</h2>
            <p     class="desc">Estudamos o perfil das equipas e colaboradores, entendendo desafios, comportamentos e necessidades para programas personalizados.</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-body">
            <h2 class="uk-card-title">Programas Estratégicos</h2>
            <p     class="desc">Desenvolvemos conteúdos e atividades de formação que engajam, educam e promovem o bem-estar emocional e a performance no trabalho.</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-body">
            <h2 class="uk-card-title">Intervenções e Workshops</h2>
            <p    class="desc">Planeamos intervenções direcionadas, workshops e sessões de mentoria que impactam diretamente a cultura organizacional e a produtividade.</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-body">
            <h2 class="uk-card-title">Monitoramento e Feedback</h2>
            <p   class="desc">Utilizamos métricas e avaliações contínuas para medir resultados, ajustar ações e garantir evolução consistente das equipas.</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-body">
            <h2 class="uk-card-title">Especialistas em Saúde Mental e Produtividade</h2>
            <p  class="desc">Contamos com profissionais experientes em psicologia organizacional, coaching e desenvolvimento humano, garantindo atendimento personalizado e efetivo.</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-body">
            <h2 class="uk-card-title">Recursos e Ferramentas</h2>
            <p class="desc">Fornecemos materiais de apoio, guias e conteúdos práticos para reforçar os aprendizados, melhorar a comunicação interna e fortalecer a cultura de bem-estar.</p>
        </div>
    </div>
</div>