.back{
    background-image: url(/imagens/upload/slides/asset1.webp);
}

.uk-card-title {
    font-size: 1.1rem;
    font-family: "Urbanist";
    font-weight: bold;
    margin-top: 15px;
}
p{
    font-family: "Roboto";
    font-size: 1rem;
}

.titulo {
    font-family: "Space Grotesk", sans-serif; 
    color: #272727; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-transform: uppercase;
}

.text-servico{
    font-size: 2.5rem;
    font-family: "Urbanist";
    color: #272727;
    font-weight: 700;
}