<div class="uk-navbar-container uk-position-fixed" style="background-color: #8e459b; z-index: 99999; right: 0; left: 0; top: 0;">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                    <a class="uk-logo"  href="#" aria-label="Back to Home"><img width="160"  src="imagens/upload/logo/logo-gestdremas.svg" alt=""></a>
                </div>
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li>
                        <a uk-scroll href="#sobre">GestDreams</a>
                    </li>
                    <li>
                        <a uk-scroll href="#impacto">Impacto</a>
                    </li>
                    <li>
                        <a uk-scroll href="#servico">Programas</a>
                    </li>
                    <li>
                        <a href="">Inovação</a>
                    </li>
                    <li>
                        <a href="">Founder</a>
                    </li>
                    <li>
                        <a href="">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <div class="uk-navbar-item">
                    <a href="" class="uk-button uk-button-defaul" style="border-radius: 5px; border: 1px #fff solid;">Agendar avaliação</a>
                </div>
            </div>
        </div>
    </div>
</div>