<div >
    <div  class="uk-flex uk-flex-middle uk-flex-center uk-margin-large-top">
    <div class="uk-card uk-card-body" style="max-width: 1100px; ;background-color: #8e459b; ;border-radius: 20px;">
        <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
            <div class="uk-width-1-3@l">
                <div class="uk-background-cover  uk-border-rounded uk-height-1-1" style="max-width: 280px;" uk-img data-src="imagens/upload/bg/imagem-onda.png" >
                    <img width="160" src="imagens/upload/logo/onda-branca-vertical.png" alt="">
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-flex uk-flex-column uk-flex-between">
                    <div>
                        <h1 class="text" style="color: #f5f5dc;">Projecto Onda Branca</h1>
                    </div>
                    <p>A Onda Branca é o projecto da GestDreams dedicado a fortalecer a saúde mental e a produtividade laboral, transformando conhecimento psicológico em conteúdos claros, práticos e aplicáveis dentro das organizações!</p>
                    <div>
                        <a href="" class="uk-button uk-button-default">Conhecer o projecto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>