.uk-button{
    background-color: #f5f5dc;
    border-radius: 10px;
    text-transform: lowercase;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    color: #fa8072;
    padding: 5px 25px;
}

.uk-button:hover{
    background-color: transparent;
    color: #f5f5dc;
    border: 1px solid #fff;
}

.uk-button::first-letter{
    text-transform: uppercase;
}

p{
    color: #f5f5dc;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.67rem;
    font-weight: bold;
}

.text{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Urbanist";
    margin: 0;
    text-transform: uppercase;
}