.title{
     font-family: "Space Grotesk", sans-serif; 
    color: #272727; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-transform: uppercase;
}

.text-resid{
  font-family: "Space Grotesk", sans-serif; 
  color: #272727; 
  font-size: .9rem; 
  word-break: break-word;
  overflow-wrap: break-word;
}

.text{
    font-size: 1.5rem !important;
    font-family: "Urbanist";
    font-weight: 400;
    color: #272727;
    text-align: center;
}

.card.reveal-fade{
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.card{
  opacity: 1;
  transform: translateX(0);
}

.card1.reveal-fade{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.card1{
  opacity: 1;
  transform: translateY(0);
}



.uk-input, .uk-textarea{
    border-radius: 5px;
    font-family: 'Urbanist';
    background-color: #F1F6FB;
    border: 1px solid #008080;
}

/* estilo dos botões */
.uk-icon-button {
  background-color: #fa8072;
  color: #f5f5dc;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
}

.uk-button {
    background-color: #008080;
    color: #f5f5dc; 
    border-radius: 10px;
    font-family: "Urbanist";
    text-transform: lowercase;
    font-size: 1rem;
    padding: 5px 25px;
    font-weight: 500;
}

.uk-button::first-letter{
    text-transform: uppercase;
}

.uk-overlay-default{
    background-color: #0000002d;
    border-radius: 10px;
}

hr{
    border: 1px solid  #00000030;
}

.uk-icon-button:hover{
    background-color: transparent !important;
    border: 2px solid #fa8072;
    color: #fa8072 !important;
}

.uk-button:hover{
  background-color: transparent;
  border: 1px solid #008080;
  color: #008080;
}

@media (min-width:344px) and (max-width:767px)  {
    .uk-card{
      margin-bottom: 10px;
    }
    .uk-slideshow-items{
      height: 450px !important;
    }
    .mobile{
      width: 100% !important;
    }
    .text{
    font-size: 1.8rem;
  }
  .text-junta{
    font-size: 3.5rem;
  }
  .uk-slideshow-items{
    height: 630px !important;
  }
  .uk-button{
    font-size: .9rem !important;
  }
  .social-icons{
    width: 70px;
  }
  .button{
    width: 70%;
  }
  .text{
    font-size: 1rem !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .text{
    font-size: 1.8rem;
  }
  .text-junta{
    font-size: 3.5rem;
  }
  .uk-slideshow-items{
    height: 630px !important;
  }
  .uk-button{
    font-size: .9rem !important;
  }
  .text{
    font-size: 1.2rem !important;
    text-align: left;
  }
}