<div class="uk-section uk-section-large" style="background-color: #f5f5dc;">
    <div class="uk-container">
        <h1 class="uk-text-center title uk-margin-medium-bottom">Instituições e empresas que já adotaram o P7</h1>
        <div class="uk-child-width-1-6@l uk-grid">
        <div>
            <img src="imagens/upload/logo/imagem-2.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-4.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-5.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-7.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-3.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-6.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-1.svg" alt="">
        </div>
    </div>
    </div>
</div>