<div class="uk-section " style="background-color: #F1F6FB;">
    <div class="uk-container">
        <p class="text-servico reveal-fade" uk-scrollspy="cls: reveal-active; delay: 300">
          Instituições e empresas que já adotaram o P7
        </p>
        <div class="uk-hidden@s" uk-slider="autoplay:true">
            <div class="uk-slider-items uk-align-center uk-text-center uk-child-width-1-1">
                <div>
                    <img src="imagens/upload/logo/imagem-2.svg" alt="">
                </div>
                <div>
                    <img src="imagens/upload/logo/imagem-4.svg" alt="">
                </div>
                <div>
                    <img src="imagens/upload/logo/imagem-5.svg" alt="">
                </div>
                <div>
                    <img src="imagens/upload/logo/imagem-7.svg" alt="">
                </div>
                <div>
                    <img src="imagens/upload/logo/imagem-3.svg" alt="">
                </div>
                <div>
                    <img src="imagens/upload/logo/imagem-6.svg" alt="">
                </div>
                <div>
                    <img src="imagens/upload/logo/imagem-1.svg" alt="">
                </div>
            </div>
        </div>
        <div class="uk-visible@s uk-child-width-1-6@l uk-child-width-1-4@s uk-child-width-1-4@m uk-grid">
        <div>
            <img src="imagens/upload/logo/imagem-2.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-4.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-5.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-7.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-3.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-6.svg" alt="">
        </div>
        <div>
            <img src="imagens/upload/logo/imagem-1.svg" alt="">
        </div>
    </div>
    </div>
</div>