.uk-grid > div{
    margin-top: 20px;
}
.title{
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.2rem;
    color: #272727;
    text-transform: uppercase;
    font-weight: 500;
}

.text-servico.reveal-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.text-servico {
  opacity: 1;
  transform: translateY(0);
}

.text-servico{
    font-size: 2rem;
    font-family: "Urbanist";
    color: #008080;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 25px;
}

.card.reveal-fade{
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.card{
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: 344px) and (max-width: 767px){
  .text-servico{
    font-size: 1.5rem !important;
  }
  img{
    width: 55%;
    margin: auto;
  }
}


@media (min-width: 768px) and (max-width: 1024px){
  .text-servico{
    font-size: 2rem !important;
  }
}