.bg{
  background-image: url(/imagens/upload/slides/asset.webp);
  background-attachment: fixed;
}
.text-servico{
    font-size: 2.5rem;
    font-family: "Urbanist";
    color: #272727;
    font-weight: 700;
}

.text-servico.reveal-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.text-servico {
  opacity: 1;
  transform: translateY(0);
}


.titulo {
    font-family: "Space Grotesk", sans-serif; 
    color: #272727; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-transform: uppercase;
}

.uk-card-title{
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #272727;
}

.desc-service{
    color: #5c5c5c;
    font-family: "Roboto";
    font-size: 1rem;
}

.uk-list{
    color: #5c5c5c;
    font-family: "Roboto";
    font-size: 1rem;
}

.uk-card-default{
    background-color: #f5f5dc;
}

.uk-dotnav > li > a {
  width: 10px;
  height: 10px;
  border: 1px solid #fa8072;
  border-radius: 20px;
  background: transparent;
  transition: all 0.3s ease;
}

.uk-dotnav > .uk-active > a {
  width: 40px; /* ou 50px se quiseres mais impacto */
  background: #fa8072;
  border: none;
}


.slider-counter {
    color: #fa8072;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Urbanist";
}

.reveal-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s cubic-bezier(.4,0,.2,1),
              transform 1.5s cubic-bezier(.4,0,.2,1);
}

.reveal-active {
  opacity: 1;
  transform: translateY(0);
}

.card-parallax {
  perspective: 1000px; /* ajuda no efeito de profundidade */
  overflow: hidden;
  position: relative;
}

.parallax-img {
  overflow: hidden;
  position: relative;
}

.parallax-img img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
}

/* Texto flutuante que segue o mouse */
.hover-text {
  position: fixed; /* segue o cursor */
  pointer-events: none;
  background: rgba(39, 39, 39, 0.8);
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  white-space: nowrap;
  transform: translate(-50%, -120%);
  opacity: 0;
  transition: opacity 0.2s ease;
}
