.text-servico{
    font-size: 2.5rem;
    font-family: "Urbanist";
    color: #272727;
    font-weight: 700;
}

.titulo {
    font-family: "Space Grotesk", sans-serif; 
    color: #272727; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-transform: uppercase;
}

.uk-card-title{
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #272727;
}

.desc-service{
    color: #5c5c5c;
    font-family: "Roboto";
    font-size: 1rem;
}

.uk-list{
    color: #5c5c5c;
    font-family: "Roboto";
    font-size: 1rem;
}

.uk-card-default{
    background-color: #f5f5dc;
}

.uk-dotnav > li > a {
  width: 10px;
  height: 10px;
  border: 1px solid #fa8072;
  border-radius: 20px;
  background: transparent;
  transition: all 0.3s ease;
}

.uk-dotnav > .uk-active > a {
  width: 40px; /* ou 50px se quiseres mais impacto */
  background: #fa8072;
  border: none;
}


.slider-counter {
    color: #fa8072;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Urbanist";
}
