<div class="uk-section uk-section-large uk-padding-remove-bottom uk-padding-remove-top" style="background-color: #F1F6FB;">   
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default" style="background-color: #F1F6FB;">
      <div class="uk-child-width-1-2@l uk-grid uk-grid-divider">
        <div uk-scrollspy="cls: uk-animation-slide-bottom; delay:400">
          <p style="font-size: 16px; color: #000;">
            A GestDreams LDA é uma empresa angolana, com sede em Luanda, dedicada à promoção da saúde mental, do bem-estar emocional e da qualidade de vida no trabalho. Atuamos com o propósito de apoiar pessoas e organizações na construção de ambientes mais saudáveis, equilibrados e produtivos
          </p>
          <p style="font-size: 16px; color: #000;">
            Acreditamos que a saúde mental é um fator estratégico para o desempenho humano e organizacional. Por isso, desenvolvemos soluções baseadas em Medicina do Trabalho, Psicologia Positiva, Inteligência Emocional, Coaching e Neurociência, integrando ciência, prevenção e intervenção prática adaptadas ao contexto local.
          </p>
          <p style="font-size: 16px; color: #000;">
            Os nossos serviços concentram-se na gestão do stress, prevenção e controlo da ansiedade, depressão e burnout, bem como na implementação de programas estruturados de saúde mental para empresas, mentoria para gestores e ações de promoção do bem-estar no ambiente laboral.
          </p>
          <p style="font-size: 16px; color: #000;">
            Destacamos o P7 – Programa de Saúde Emocional do Trabalhador, uma abordagem integrada que visa identificar riscos psicossociais, promover o diagnóstico precoce, capacitar colaboradores e líderes e garantir o encaminhamento adequado para tratamento e apoio especializado, sempre que necessário.
          </p>
        </div>
        <div uk-scrollspy="cls: uk-animation-slide-bottom; delay:600">
          <p style="font-size: 16px; color: #000;">
            A GestDreams atua em parceria com organizações, ouvindo, analisando e cocriando soluções ajustadas às necessidades específicas de cada realidade. Através de palestras, workshops, formações e programas contínuos, promovemos uma cultura organizacional focada no equilíbrio psicoemocional, na segurança e na produtividade sustentável.
          </p>
          <p style="font-size: 16px; color: #000;">
            O nosso compromisso é contribuir para o desenvolvimento humano e organizacional em Angola, fortalecendo a consciência sobre saúde mental e criando impacto positivo, duradouro e socialmente responsável.
          </p>
          <blockquote>
            Acreditamos que a verdadeira inovação surge quando o cuidado com a mente se encontra com o <strong>valor humano</strong> e se transforma em <strong>impacto social positivo.</strong>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>