
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
/>
<div id="sobre" class="uk-section uk-section-large" style="background-color: #f5f5dc;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-grid">
        <div class="uk-flex uk-flex-column uk-flex-between">
            <div>
                <h2 class="titulo">Quem somos</h2>
            </div>
            <div>
                <div class="uk-child-width-1-2@l uk-grid">
                    <div>
                        <img uk-scrollspy="cls: uk-animation-slide-left; delay: 500" width="180" src="imagens/upload/logo/partner-1.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div>
        <h2 class="slogan reveal-lines" uk-scrollspy="cls: reveal-active; delay: 200">
            <span>Você pode contratar soluções.</span>
            <span>Ou pode construir bem-estar com resultados.</span>
        </h2>

        <p class="texto-institucional reveal-lines" uk-scrollspy="cls: reveal-active; delay: 400">
            <span>Acreditamos que resultados sustentáveis nascem de pessoas emocionalmente saudáveis.</span>
            <span>Por isso, ajudamos empresas a transformar o ambiente de trabalho através de estratégias integradas de saúde mental, inteligência </span>
            <span>emocional e desenvolvimento humano, promovendo bem-estar, produtividade</span>
            <span>e uma cultura organizacional mais equilibrada e eficiente.</span>
        </p>
</div>

    </div>
    
    </div>

</div>