

.titulo {
    font-family: "Space Grotesk", sans-serif; 
    color: #272727; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-transform: uppercase;
}


blockquote{
    font-size: 16px !important;
    border-left: 5px solid black;
    padding: 10px;
}

blockquote{
  font-size: 16px;
  border-left: solid 3px #0d5a90;
  padding: 15px;
  color: #212121;
}


.titulo-principal {
  font-size: 16px;
  color: #094268;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

@media (max-width: 768px) {
    .uk-background-cover {
    height: 200px !important; /* ajusta conforme o design */
    background-position: center;
    border-radius: 10px;
    margin-bottom: 0;
  }
  p, li{
    font-size: 16px;
    text-align: left;
  }
  .titulo-principal{
    display: block;
  }
  h2, .destaque{
    font-size: 1.6rem !important;
  }

  .titulo-principal .linha{
    width: 25%;
    animation: growMobile 2s infinite alternate;
  }
}
