<div class="uk-section uk-section-large uk-padding" style="background-color: #4b4b4b;">
    <div class="uk-container">
        <div class="uk-child-width-1-3@l uk-child-width-1-3@s uk-child-width-1-1 uk-grid">
            <div style="border-right: 2px solid #f5f5dc43;">
                <div class="uk-card uk-flex uk-flex-middle uk-flex-column">
                    <h2 class="uk-card-title uk-margin-remove">+10 anos</h2>
                    <p style="color: white; font-size: 2rem; font-weight: 400;" class="uk-margin-remove">Experienca</p>
                </div>
            </div>
            <div style="border-right: 2px solid #f5f5dc43;">
                <div class="uk-card uk-flex uk-flex-middle uk-flex-column">
                    <h2 class="uk-card-title uk-margin-remove">5 </h2>
                    <p style="color: white; font-size: 2rem; font-weight: 400;" class="uk-margin-remove">Empresas</p>
                </div>
            </div>
            <div >
                <div class="uk-card uk-flex uk-flex-center uk-text-center uk-flex-middle uk-flex-column">
                    <h2 class="uk-card-title uk-margin-remove">+5 mil </h2>
                    <p style="color: white; font-size: 2rem; font-weight: 400;" class="uk-margin-remove">colaboradores capacitado</p>
                </div>
            </div>
        </div>
    </div>
</div>