.uk-card-title{
  font-size: 4.8rem;
  font-weight: bold;
  font-family: "Urbanist";
  color: #fa8072;
  
}

p{
  font-family: 'Urbanist';
  font-weight: 400;
}

@media (min-width: 344px) and (max-width: 768px) {
  .uk-card-title{
    font-size: 3rem;
    text-align: center;
  }
  p{
    font-size: 1.2rem !important;
    font-weight: 400 !important;
  }
  .uk-grid > div {
    border: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .uk-card-title{
    font-size: 3rem;
  }
  p{
    font-size: 1.2rem !important;
    font-weight: 400 !important;
  }
}