.back{
  background-image: url(/imagens/upload/bg/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p{
    font-size: 1rem;
    font-family: "Space Grotesk", sans-serif;
    color: white;
    font-weight: 500;
}

.uk-titulo{
    font-size: 2.5rem;
    font-family: "Urbanist";
    font-weight: bold;
    color: white;
}