.title {
     font-family: "Space Grotesk", sans-serif; 
    color: #f5f5dc; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-transform: uppercase;
}

.text-desc {
    font-size: 3.3rem;
    font-family: "Urbanist";
    color: #f5f5dc;
    font-weight: bold;
}

.bernardino{
    font-size: 2.5rem;
    font-weight: bold;
    color: #272727;
    font-family: "Urbanist";
}

.uk-icon-button:hover{
    background-color: transparent !important;
    border: 2px solid #fa8072;
    color: #fa8072 !important;
}

.text-sobre{
    font-size: .88rem;
    font-family: "Roboto", sans-serif;
    color: #272727a8;
}