<div id="founder" class="uk-section " style="background-color: #0d0d0d;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-grid uk-margin-large-bottom">
            <div >
                <h3 class="title">Founder</h3>
            </div>
            <div>
                <p class="text-desc">Fruto do legado e visão multicultural do nosso fundador.</p>
            </div>
        </div>
        <div class="uk-child-width-1-3@l uk-grid-large  uk-grid-collapse uk-grid-match" uk-grid >
        <div>
            <div class="uk-card uk-card-body uk-margin-right uk-card-default uk-flex uk-flex-column uk-flex-between" style="border-radius: 10px;">
                <div>
                    <h1 class="bernardino">Bernardino Antonio</h1>
                </div>
                <div>
                    <p class="text-sobre">Médico do trabalho, palestrante e comunicador, dedica-se à promoção da saúde emocional e da produtividade no trabalho. Com experiência em programas corporativos e intervenção organizacional, acredita que cuidar das pessoas é a base para resultados sustentáveis.</p>
                </div>
                <div>
                    <div class="uk-child-width-1-3@l uk-grid uk-grid-collapse">
                        <div>
                            <a href=""><span class="uk-icon-button uk-icon" style="background-color: #fa8072; padding: 5px; color: #f5f5dc; padding: 10px;width: 60px; height: 60px;" uk-icon="icon: linkedin; ratio: 1" ></span></a>
                        </div>
                        <div>
                            <a href=""><span class="uk-icon-button uk-icon" style="background-color: #fa8072; padding: 5px; color: #f5f5dc; width: 60px; height: 60px;" uk-icon="icon: instagram; ratio: 1" ></span></a>
                        </div>
                        <div>
                            <a href=""><span class="uk-icon-button uk-icon" style="background-color: #fa8072; padding: 5px; color: #f5f5dc; width: 60px; height: 60px;" uk-icon="icon: youtube; ratio: 1" ></span></a>
                        </div>
                        <div  class="uk-margin-small-top">
                            <a href=""><span class="uk-icon-button uk-icon" style="background-color: #fa8072; padding: 5px; color: #f5f5dc; width: 60px; height: 60px;" uk-icon="icon: link; ratio: 1" ></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-expand uk-margin-small-left uk-margin-right" >
            <div class="uk-background-cover uk-text-center uk-flex uk-flex-middle uk-flex-center uk-height-1-1" style="border-radius: 10px;" uk-img data-src="imagens/upload/founder/bernardino-1.png">
                <img src="imagens/upload/logo/gestdreams-branoc.png" alt="">
            </div>
        </div>
        <div style="max-width: 320px;" class="uk-margin-small-left uk-flex uk-flex-column uk-flex-between">
            <div>
                <div uk-slideshow="autoplay: true; animation: fade;pause-on-hover: false;" class="uk-position-relative">
                    <div class="uk-slideshow-items" style="height: 320px;">
                        <div>
                            <img style="border-radius: 10px;" src="imagens/upload/logo/logo-gestdreams.png" alt="">
                        </div>
                        <div>
                            <img style="border-radius: 10px;" src="imagens/upload/founder/bernardino-2.png" alt="">
                            <div class="uk-position-cover uk-overlay ">
                                <div class="uk-position-center">
                                    <img width="300" src="imagens/upload/logo/gestdreams-vertical.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <img style="border-radius: 10px;" src="imagens/upload/founder/bernardino-4.png" alt="">
                            <div class="uk-position-cover uk-overlay ">
                                <div class="uk-position-bottom-right">
                                <img width="130" src="imagens/upload/logo/logo-gestdremas.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div >
                <div class="uk-card uk-card-body uk-card-default uk-margin-small-top" style="background-color: transparent;">
                    <img width="90" src="imagens/upload/logo/gd.png" alt="">
                    <p style="color: #f5f5dc; max-width: 150px; font-size: 1rem; font-family: 'Roboto';">Cuidamos da saúde emocional para melhorar a produtividade no trabalho.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>