.text-servico{
    font-size: 2.5rem;
    font-family: "Urbanist";
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 950px;
}

.uk-card-icon{
  border-radius: 5px;
  background-color: #F1F6FB;
  border-bottom: 5px solid #008080;
}

.text-servico.reveal-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.text-servico {
  opacity: 1;
  transform: translateY(0);
}


.titulo {
    font-family: "Space Grotesk", sans-serif; 
    color: #fff; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-transform: uppercase;
}

p{
    font-size: 1rem;
    font-family: "Space Grotesk", sans-serif;
    color: #fff;
    font-weight: 400;
}

.uk-titulo{
    font-size: 2.5rem;
    font-family: "Urbanist";
    font-weight: 600;
    color: #fff;
}

.icon:hover{
  background-color: #008080;
}
.icon:hover .uk-icon{
  color: white !important;
}

.card.reveal-fade{
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.card{
  opacity: 1;
  transform: translateX(0);
}

.card1.reveal-fade{
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.card1{
  opacity: 1;
  transform: translateX(0);
}


@media (min-width: 768px) and (max-width: 1024px){
  .text-servico{
    font-size: 2rem !important;
  }
  .founder-img{
    width: 250px !important;
  }

}

@media (min-width: 344px) and (max-width: 767px){
  .text-servico{
    font-size: 1.5rem !important;
  }
  .uk-titulo{
    font-size: 2rem;
  }
}