<div class="uk-section back">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-flex uk-flex-center uk-align-center uk-grid" uk-height-match="target: div < div < div">
            
            <div>
                <div class="uk-background-cover uk-height-1-1 uk-position-relative" style="border-radius: 20px; max-width: 480px;" uk-img data-src="imagens/upload/founder/founder.png">
                    <div class="uk-position-center-left">
                        <img src="imagens/upload/logo/gestdream-vertical.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body " style="margin-left: 0; padding-left: 0;">
                    <h3 class="uk-titulo">Bernardino António</h3>
                    <p>Dr. Bernadrino António, Médico Especialista em Medicina do Trabalho, com experiência consolidada na promoção da saúde mental e produtividade no ambiente laboral. Atua há anos como formador profissional em grandes organizações, integrando conhecimento clínico, gestão emocional e metodologias modernas de desenvolvimento humano.</p>
                    <p>Reconhecido por instituições nacionais e internacionais, o Dr. Bernardino António é certificado em gestão do stress, coaching profissional e inteligência emocional. Já formou equipas em entidades como a Academia Sonangol e outras organizações que priorizam o bem-estar dos seus colaboradores.</p>
                    <p>Atualmente, aprofunda os seus estudos em Felicidade Organizacional, trazendo uma abordagem inovadora que combina ciência, comportamento humano e práticas de saúde laboral para criar ambientes de trabalho mais saudáveis, eficientes e humanizados.</p>
                    <div class="uk-flex uk-flex-middle uk-flex-around">
                        <div>
                            <span uk-icon="icon:instagram; ratio:1.2" style="color: white;"></span>
                        </div>
                        <div>
                            <span uk-icon="icon:linkedin; ratio:1.2" style="color: white;"></span>
                        </div>
                        <div>
                            <span uk-icon="icon:youtube; ratio:1.2" style="color: white;"></span>
                        </div>
                        <div>
                            <span class="uk-icon-button" uk-icon="icon:link; ratio:1.2" style="color: white; background-color: #008080"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>