.title {
     font-family: "Space Grotesk", sans-serif; 
    color: #f5f5dc; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-transform: uppercase;
}

.text-desc {
    font-size: 2.5rem;
    font-family: "Urbanist";
    color: #f5f5dc;
    font-weight: 700;
}

.bernardino{
    font-size: 2.5rem;
    font-weight: bold;
    color: #272727;
    font-family: "Urbanist";
}