<div class="uk-section " style="background-color: #4b4b4b;">
    <div class="uk-container">
        
    
        <p class="text-servico reveal-fade" uk-scrollspy="cls: reveal-active; delay: 300">
          Somos fruto da diversidade de saberes e experiências dos nossos fundadores.
        </p>
    
        <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-child-width-1-2@m  uk-grid">

            <div >
                <img src="imagens/upload/founder/founder.png" alt="">
            </div>
            <div>
                <div class="uk-card uk-card-body " style="margin-left: 0; padding-left: 0;">
                    <h3 class="uk-titulo">Bernardino António</h3>
                    <p>Dr. Bernadrino António, Médico Especialista em Medicina do Trabalho, com experiência consolidada na promoção da saúde mental e produtividade no ambiente laboral. Atua há anos como formador profissional em grandes organizações, integrando conhecimento clínico, gestão emocional e metodologias modernas de desenvolvimento humano.</p>
                    
                    <div class="uk-card uk-card-icon uk-padding-small uk-card-default uk-card-body uk-flex uk-flex-middle uk-flex-around " >
                        <div style="border: 1px solid #008080; border-radius: 7px; padding: 10px;">
                            <a href=""><span uk-icon="icon:instagram; ratio:1.5" style="color: #008080;"></span></a>
                        </div>
                        <div style="border: 1px solid #008080; border-radius: 7px; padding: 10px;">
                            <a href=""><span uk-icon="icon:linkedin; ratio:1.5" style="color: #008080;"></span></a>
                        </div>
                        <div style="border: 1px solid #008080; border-radius: 7px; padding: 10px;">
                            <a href=""><span uk-icon="icon:youtube; ratio:1.5" style="color: #008080;"></span></a>
                        </div>
                        <div style="border: 1px solid #008080; border-radius: 7px; padding: 10px;">
                            <a href=""><span class="uk-icon-button" uk-icon="icon:link; ratio:1.5" style="color: white; background-color: #008080"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>