.title{
     font-family: "Space Grotesk", sans-serif; 
    color: #272727; 
    font-size: 1.2rem; 
    font-weight: 600;
    text-transform: uppercase;
}

.text-resid{
  font-family: "Space Grotesk", sans-serif; 
    color: #272727; 
    font-size: 1rem; 
}

.text{
    font-size: 2.5rem;
    font-family: "Urbanist";
    font-weight: bold;
    color: #272727;
}
.text-junta{
    font-size: 4.9rem;
    font-family: "Urbanist";
    font-weight: bold;
    color: #fa8072;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; /* alinha todos à direita */
  gap: 25px; /* espaço entre ícones */
}

.social-item {
  /* mantém tamanho consistente se necessário */
}

.social-item.youtube {
  flex-basis: 100%; /* força ir para a linha de baixo */
  display: flex;
  justify-content: flex-end; /* ainda à direita */
  margin-top: 5px; /* opcional, separação da linha acima */
}

/* estilo dos botões */
.uk-icon-button {
  background-color: #fa8072;
  color: #f5f5dc;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
}

.uk-button {
    background-color: #008080;
    color: #f5f5dc; 
    border-radius: 10px;
    font-family: "Urbanist";
    text-transform: lowercase;
    font-size: 1rem;
    padding: 5px 25px;
    font-weight: 500;
}

.uk-button::first-letter{
    text-transform: uppercase;
}

.uk-overlay-default{
    background-color: #0000002d;
    border-radius: 10px;
}

hr{
    border: 1px solid  #00000030;
}

.uk-icon-button:hover{
    background-color: transparent !important;
    border: 2px solid #fa8072;
    color: #fa8072 !important;
}

.uk-button:hover{
  background-color: transparent;
  border: 1px solid #008080;
  color: #008080;
}

@media (min-width:344px) and (max-width:767px)  {
    .uk-card{
      margin-bottom: 10px;
    }
    .uk-slideshow-items{
      height: 450px !important;
    }
    .mobile{
      width: 100% !important;
    }
    .text{
    font-size: 1.8rem;
  }
  .text-junta{
    font-size: 3.5rem;
  }
  .uk-slideshow-items{
    height: 630px !important;
  }
  .uk-button{
    font-size: .9rem !important;
  }
  .social-icons{
    width: 70px;
  }
  .button{
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .text{
    font-size: 1.8rem;
  }
  .text-junta{
    font-size: 3.5rem;
  }
  .uk-slideshow-items{
    height: 630px !important;
  }
  .uk-button{
    font-size: .9rem !important;
  }
}