<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-flex uk-flex-middle uk-flex-center uk-text-center uk-align-center uk-grid" uk-height-match="target: div < div < div">
            <div class="uk-width-2-5">
                <div uk-slideshow="autoplay: true; animation:fade" class="uk-position-relative">
                    <div class="uk-slideshow-items" style="height: 720px;">
                        <div class="uk-background-cover  uk-border-rounded uk-height-1-1" data-src="imagens/upload/contacto/imagem-1.png" uk-img>
                        </div>
                        <div class="uk-background-cover  uk-border-rounded uk-height-1-1" data-src="imagens/upload/contacto/imagem-2.png" uk-img>
                        </div>
                        <div class="uk-background-cover  uk-border-rounded uk-height-1-1" data-src="imagens/upload/contacto/imagem-3.png" uk-img>
                        </div>
                        <div class="uk-background-cover  uk-border-rounded uk-height-1-1" data-src="imagens/upload/contacto/imagem-4.png" uk-img>
                        </div>
                    </div>
                    <div class="uk-position-cover uk-overlay uk-overlay-default">
                        <div class="uk-position-center-left">
                            <img src="imagens/upload/logo/gestdream-vertical.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="match-height uk-width-expand">
                <div class="uk-card uk-card-body uk-text-left">
                    <h3 class="title">Contaco</h3>
                    <p class="text">Transformamos ambientes profissionais com cuidado e excelência.</p>
                    <p class="text uk-margin-medium-top">Isso é GestDreams.</p>
                    <p class="text-junta">Junte-se a nós</p>
                    <hr class="uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-child-width-1-2@l uk-grid">
                        <div>
                            <a href=""  class="uk-button uk-button-default">Implementar P7</a>
                        </div>
                        <div class="uk-flex uk-flex-right uk-flex-wrap social-icons">
                            <div class="social-item">
                            <a href=""><span class="uk-icon-button uk-icon" style="background-color: #fa8072; padding: 5px; color: #f5f5dc; padding: 10px;width: 60px; height: 60px;" uk-icon="icon: facebook; ratio: 1" ></span></a>
                        </div>
                        <div class="social-item">
                            <a href=""><span class="uk-icon-button uk-icon" style="background-color: #fa8072; padding: 5px; color: #f5f5dc; width: 60px; height: 60px;" uk-icon="icon: instagram; ratio: 1" ></span></a>
                        </div>
                        <div class="social-item">
                            <a href=""><span class="uk-icon-button uk-icon" style="background-color: #fa8072; padding: 5px; color: #f5f5dc; width: 60px; height: 60px;" uk-icon="icon: linkedin; ratio: 1" ></span></a>
                        </div>
                        <div  class="social-item">
                            <a href=""><span class="uk-icon-button uk-icon" style="background-color: #fa8072; padding: 5px; color: #f5f5dc; width: 60px; height: 60px;" uk-icon="icon: youtube; ratio: 1" ></span></a>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>