.hero{
    background-image: url("/imagens/upload/sobre/hero-sobre-nos.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}



.animated-bg {
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    #8e459b,
    #fa8072,
    #008080,
    #8e459b
  );
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

.center-wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-principa{
    font-size: 2.8rem;
    font-family: "Urbanist";
    color: white;
    font-weight: bold;
}
.uk-list, .text{
    font-size: 1.2rem;
    font-family: "Space Grotesk";
    color: white;
}

@media (min-width:344px) and (max-width:767px)  {
    .hero-content{
        height: 70vh !important;
    }
    .uk-heading-small{
      font-size: 1.5rem;
    }
    .uk-container{
      display: flex;
      align-items: center;      /* centraliza verticalmente */
      justify-content: center;  /* centraliza horizontalmente */
      min-height: 60vh;        /* altura da tela inteira */
    }
    .uk-button{
      font-size: 1rem !important;
    }
}

@media (min-width:768px) and (max-width:1024px)  {
    .hero-content{
        height: 70vh !important;
    }
    .uk-container{
      display: flex;
      align-items: center;      /* centraliza verticalmente */
      justify-content: center;  /* centraliza horizontalmente */
      min-height: 70vh;        /* altura da tela inteira */
    }
}