.animated-bg {
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    #8e459b,
    #fa8072,
    #008080,
    #8e459b
  );
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

.center-wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-principa{
    font-size: 2.8rem;
    font-family: "Urbanist";
    color: white;
    font-weight: bold;
}
.uk-list, .text{
    font-size: 1.2rem;
    font-family: "Space Grotesk";
    color: white;
}