<h1 class="uk-margin-large-top uk-text-center title">Veja as empresas que já adotaram o P7</h1>
<div class="cliente uk-child-width-1-6@l uk-child-width-1-3@s uk-grid uk-flex uk-flex-middle uk-margin-large-top uk-grid-large">
    <div>
        <img uk-scrollspy="cls: uk-animation-fade; delay: 200" src="imagens/upload/logo/cliente-1.svg" alt="">
    </div>
    <div>
        <img uk-scrollspy="cls: uk-animation-fade; delay: 400" src="imagens/upload/logo/cliente-2.svg" alt="">
    </div>
    <div>
        <img uk-scrollspy="cls: uk-animation-fade; delay: 150" src="imagens/upload/logo/cliente-3.svg" alt="">
    </div>
    <div>
        <img uk-scrollspy="cls: uk-animation-fade; delay: 350" src="imagens/upload/logo/cliente-4.svg" alt="">
    </div>
    <div>
        <img uk-scrollspy="cls: uk-animation-fade; delay: 250" src="imagens/upload/logo/cliente-5.svg" alt="">
    </div>
    <div>
        <img uk-scrollspy="cls: uk-animation-fade; delay: 300" src="imagens/upload/logo/cliente-6.svg" alt="">
    </div>
    <div>
        <img uk-scrollspy="cls: uk-animation-fade; delay: 450" src="imagens/upload/logo/cliente-7.svg" alt="">
    </div>
</div>
