.title{
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.2rem;
    margin-top: 150px !important;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.cliente > div {
    margin: 15px 0 !important;
}