.text-space {
    font-family: "Urbanist", sans-serif;
    font-size: 2rem;
    max-width: 600px;
    color: #f5f5dc;
    font-weight: bold;
}

.uk-overlay-default{
    background-color: #00000071;
}

.uk-slideshow-items img{
  height: 100%;
}

.uk-text-lead{
    color: #f5f5dc;
    font-family: "Space Grotesk", sans-serif;
}

.uk-button{
    background-color: #fa8072;
    color: #fff;
    border-radius: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    padding: 4px 25px;
    font-weight: 600;
    border: none;
}

.uk-dotnav > li > a {
  width: 10px;
  height: 10px;
  border: 1px solid #fa8072;
  border-radius: 20px;
  background: transparent;
  transition: all 0.3s ease;
}

.uk-dotnav > .uk-active > a {
  width: 40px; /* ou 50px se quiseres mais impacto */
  background: #fa8072;
  border: none;
}

.uk-button:hover{
  background-color: #f5f5dc;
  color: #fa8072;
}

.kenburns-infinite {
  animation: kenburns 10s ease-in-out infinite alternate;
  transform-origin: center;
  overflow: hidden;
}


@keyframes kenburns {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

.card.reveal-fade{
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.reveal-active.card{
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: 344px) and (max-width: 767px) {
  .text-space{
    font-size: 1.5rem;
  }
  .uk-position-bottom-left{
    left: 5% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .uk-background-cover {
    background-position: center center !important; /* centraliza */
    background-size: cover;                        /* mantém proporção */
  }
}
