<div class="uk-section" style="background-color: #000;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-grid" uk-grid uk-height-match="target: > div > div">
            <div class="uk-width-expand">
                <div class="uk-card uk-card-body" style="border-radius: 10px;">
                    <h2 class="uk-card-title reveal-fade" uk-scrollspy="cls: reveal-active-1; delay: 200">Inovação com Foco no Bem-Estar</h2>
                    
                    <div class="numbered-sections-vertical">
                        <div class="numbered-item-vertical">
                            <div class="number-container-vertical">
                                <span class="section-number-vertical">01</span>
                                <div class="vertical-connector"></div>
                            </div>
                            <div class="content-vertical">
                                <h3 class="titulo">Programas de Saúde Mental</h3>
                                <p class="text-desc">Apostamos em inovação contínua para promover saúde mental e qualidade de vida no ambiente corporativo. Com uma equipa especializada e metodologias baseadas em ciência, oferecemos soluções que ajudam colaboradores e gestores a desenvolver competências emocionais e comportamentais, prevenindo ansiedade, depressão e burnout.</p>
                            </div>
                        </div>
                        
                        <div class="numbered-item-vertical">
                            <div class="number-container-vertical">
                                <span class="section-number-vertical">02</span>
                                <div class="vertical-connector"></div>
                            </div>
                            <div class="content-vertical">
                                <h3 class="titulo">Orientação para Serviços</h3>
                                <p class="text-desc">Contamos com uma equipa dedicada, capacitada em psicologia positiva, coaching e neurociência, que acompanha cada empresa na implementação de programas de bem-estar. Todo o acompanhamento é registado e monitorado para garantir que os objetivos de melhoria do clima e produtividade são atingidos.</p>
                            </div>
                        </div>
                        
                        <div class="numbered-item-vertical">
                            <div class="number-container-vertical">
                                <span class="section-number-vertical">03</span>
                                <div class="vertical-connector"></div>
                            </div>
                            <div class="content-vertical">
                                <h3 class="titulo">Presença Nacional e Internacional</h3>
                                <p class="text-desc">Contamos com uma equipa dedicada, capacitada em psicologia positiva, coaching e neurociência, que acompanha cada empresa na implementação de programas de bem-estar. Todo o acompanhamento é registado e monitorado para garantir que os objetivos de melhoria do clima e produtividade são atingidos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="max-width: 550px;">
                <div class="uk-background-cover uk-border-rounded uk-height-1-1 uk-position-relative" uk-img data-src="imagens/upload/sobre/imagem-1.png">
                    <div class="uk-position-cover uk-overlay">
                        <div class="uk-position-center-left">
                            <img src="imagens/upload/logo/gestdream-vertical.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>