<div id="inovacao" class="uk-section uk-section-large" style="background-color: #f5f5dc;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-grid">
            <div>
                <div class="uk-card uk-card-body uk-card-default" style="border-radius: 10px;">
                    <h2 class="uk-card-title">Como fazemos</h2>
                    <p class="desc-inovacao">A GestDreams é uma empresa especializada em saúde emocional e produtividade no trabalho, com profissionais experientes para oferecer programas e consultoria estratégica a empresas e equipas. Nosso foco é transformar ambientes de trabalho, fortalecendo a saúde mental, aumentando a motivação e potencializando resultados de forma sustentável.</p>
                    <div class="uk-child-width-1-2@l uk-grid uk-grid-match">
                        <div>
                            <p class="parceria">Nossa parceria começa com uma análise detalhada da sua organização. Avaliamos o ambiente de trabalho, identificamos desafios e oportunidades relacionados à saúde emocional e produtividade, e sugerimos programas e estratégias sob medida. Esse é o primeiro passo para transformar sua equipa e potencializar resultados de forma sustentável.</p>
                        </div>
                        <div class="uk-position-relative">
                            <div class="uk-position-bottom-right">
                                <a  href="" class="uk-position-bottom-right uk-button uk-button-primary">Agendar avalicao</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
    <app-estrategia></app-estrategia>
    <app-onda-section></app-onda-section>
</div>