.uk-card-default{
    background-color: #008080;
}

.uk-card-title{
    font-family: "Urbanist", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #f5f5dc;
}

.desc-inovacao{
    font-size: 1.5rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: #f5f5dc;
}

.parceria{
    font-size: .8rem;
    font-family: "Space Grotesk", sans-serif;
    color: #f5f5dc;
    font-weight: 500;
}

.uk-button{
    background-color: #fa8072;
    border-radius: 10px;
    font-weight: 500;
    font-family: "Space Grotesk";
    font-size: 1rem;
    text-transform: lowercase;
}

.uk-button::first-letter{
    text-transform: uppercase;
}

.uk-button:hover{
    background-color: transparent;
    border: 1px #f5f5dc solid;
    color: #f5f5dc;
}