.uk-input{
  padding: 25px;
  border-radius: 10px;
}

.slider-form{
  position: relative;
  overflow: hidden;
  height: 100vh;
}

label{
  font-size: 2rem;
  font-weight: bold;
  font-family: "Urbanist";
}

.slide {
  position: absolute;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}


.slide.ativo {
  transform: translateY(0);
  z-index: 2;
}

.slide.saindo-cima {
  transform: translateY(-100%);
  z-index: 1;
}

.slide.saindo-baixo {
  transform: translateY(100%);
  z-index: 1;
}


 button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  border-radius: 10px;
}

.uk-button {
  opacity: 1;
  cursor: pointer;
  background-color: #fff;
  color: #272727;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 10px;
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  margin: 0;
}

.button-cima{
  display: block;
  background-color: transparent;
  border: 1px solid #ffffff33;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  color: #ffffffad;
}

.alerta-erro {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff4d4f;
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 9999;
}

.opcao-botao{
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;  
}

.opcao-botao:has(input:checked){
  background-color: #fff;
  color: #000 !important;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .slide{
    top: 50% !important;
  }
  .button{
    top: 93% !important;
  }
}