.text{
    font-size: 2rem;
    font-family: "urbanist";
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.uk-button{
    background-color: white;
    color: #272727;
    border-radius: 10px;
    padding: 5px 20px;
}

label{
    font-size: 2rem;
    color: white;
    font-weight: 600;
}

.uk-input{
    background-color: transparent;
    border: 2px solid rgba(253, 253, 253, 0.324);
    border-radius: 10px;
    margin-top: 10px;
    padding: 22px;
    color: white;
    font-size: 1rem;
}


.uk-input:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

