.uk-card-title{
    color: #272727;
    font-family: "Urbanist";
    font-size: 1.8rem;
    font-weight: bold;
}
.desc{
    color: #5c5c5c;
    font-family: "Roboto";
    font-size: 1rem;
}

.reveal-fade {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 1.5s cubic-bezier(.4,0,.2,1),
              transform 1.5s cubic-bezier(.4,0,.2,1);
}

.reveal-active {
  opacity: 1;
  transform: translateX(0);
}